body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

ul {
    list-style-type: square;
    display: list-item;
    margin: auto;
    text-align: left;
    align-items: left;
    justify-content: left;
}

img {
    width: 500px;
}

ol {
    display: list-item;
    margin: auto;
    text-align: left;
    align-items: left;
    justify-content: left;
}

p {
    width: 750px;
    margin: 0 auto;
}

li {
    width: 750px;
    margin: 0 auto;
}
