body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

li {
    list-style-type: square;
    list-style-position: inside;
    display: list-item;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
}

.bg {
    background:beige
}